#mc_embed_signup {
	display: flex;
}
#mc_embed_signup form {
	margin: 0 auto;
}

#mc_embed_signup_scroll {
	display: flex;
}

#mc_embed_signup input.email {
	border: 1px solid #ABB0B2;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #343434;
	box-sizing: border-box;
	height: 32px;
	padding: 0px 0.4em;
	display: inline-block;
	margin: 0;
	width: 200px;
	vertical-align: top;
}

#mc_embed_signup .button {
	font-size: 13px;
	border: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	letter-spacing: .03em;
	color: white;
	background-color: #6BA530;
	box-sizing: border-box;
	height: 32px;
	line-height: 32px;
	padding: 0 18px;
	display: inline-block;
	margin: 0;
	transition: all 0.23s ease-in-out 0s;
}

@media (min-width: 48em) {
	#mc_embed_signup input.email {
		width: 350px;
	}
}
